  .td_menu2
  {
      color: #FFFFF0;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      background-color: #708090;
      font-size: 15px;
  }
  .td_menu2:hover 
  {
      color: white;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      font-weight: bold;
      background-color: #63B0EB;
      font-size: 20px;
      cursor: pointer;
  }
  
  #sub {
    background-color: white; /* colore di sfondo    */
    //border: 2px solid blue; /* bordo dell'elemento */
    color: white;               /* colore del testo    */
    font-weight:bold;   /* testo in grassetto  */
    padding: 0;                /* padding             */
    height: 30px;              /* altezza             */
    width: 80px;               /* larghezza           */

    -moz-border-radius: 1px; /* FF1+ */
    -webkit-border-radius: 1px; /* Saf3-4 */
    border-radius: 1px; /* Opera 10.5, IE9, Saf5, Chrome */
  }
  #submit {
    background-color: white; /* colore di sfondo    */
    border: 2px solid #A9E2F3; /* bordo dell'elemento */
    color: blue;               /* colore del testo    */
    /* font-weight:bold;    testo in grassetto  */
    padding: 0;                /* padding             */
    height: 35px;              /* altezza             */
    width: 120px;               /* larghezza           */
    font-size:18px;
    -moz-border-radius: 7px; /* FF1+ */
    -webkit-border-radius: 7px; /* Saf3-4 */
    border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome */
  }
  .textbox{
    font-family:Comic Sans MS, Verdana, Arial, sans-serif;
    font-size:16px;
    color: #000080;

    letter-spacing: 2px;
    width:250px;
    height:35px;
    border: 2px solid #A9E2F3;
      -moz-border-radius: 7px; /* FF1+ */
      -webkit-border-radius: 7px; /* Saf3-4 */
      border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome */
    }
    .textbox2{
    font-family:Comic Sans MS, Verdana, Arial, sans-serif;
    font-size:16px;
    color: #000080;

    letter-spacing: 2px;
    width:550px;
    height:35px;
    border: 2px solid #A9E2F3;
      -moz-border-radius: 7px; /* FF1+ */
      -webkit-border-radius: 7px; /* Saf3-4 */
      border-radius: 7px; /* Opera 10.5, IE9, Saf5, Chrome */
    }
    
  a 
  {
      text-decoration: none;
      border-width: 0;
  }
@media only screen and (min-width: 768px){
  
  .tdlogo
  {
  	background-image: url("immagini/LogoNR.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:400px;
  }
  div.titolo
  {
  float:center;
    position:relative;
    top:0;
    bottom:0%;
    right:0;
    left:0;
    width:900px;
    //background-color:yellow;
    //border: thin solid black;
  }
  
  
  div.lateraledestro
  {
      float:center;
    position:relative;
    top:0px;
    right:0%;
    left:0%;
    width:900px;
    bottom:0;
    //border: thin solid black;
  }
  
  div.centrale
  {
      float:center;
    position:relative;
    top:0px;
    right:0%;
    left:0%;
    width:900px;
    bottom:69%;
    /*border: thin solid black;*/
  }
  
  
  /* Gestisce i colori per il menù delle categorie */
  
  .td_menu
  {
      color: #FFFFF0;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      background-color: #708090;
      font-size: 15px;
  }
  .td_menu:hover 
  {
      color: white;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      font-weight: bold;
      background-color: #63B0EB;
      font-size: 20px;
      cursor: pointer;
  }
  
  .active
  {
      color: white;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      font-weight: bold;
      background-color: #003153;
      font-size: 20px;
      cursor: pointer;
  }
  
  
  
  .testo
  {
      color: black;
      font-size:15px;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  }
  
  #Bottreg:hover
  {
      cursor: pointer;
  }
  
  .style_table {
      -moz-border-radius: 20px; 
      -webkit-border-radius:20px; 
      border-radius: 20px; 
  }
}
/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
    /* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .tdlogo
  {
  	background-image: url("immagini/NewsReader.png");
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: 40 20;
    width:220px;
  }
  
 
  
  
  div.titolo
  {
  float:center;
    position:relative;
    top:0;
    bottom:0%;
    right:0;
    left:0;
    width:760px;
    //background-color:yellow;
    //border: thin solid black;
  }
  
  
  div.lateraledestro
  {
      float:center;
    position:relative;
    top:0px;
    right:0%;
    left:0%;
    width:760px;
    bottom:0;
    //border: thin solid black;
  }
  
  div.centrale
  {
      float:center;
    position:relative;
    top:0px;
    right:0%;
    left:0%;
    width:760px;
    bottom:69%;
    /*border: thin solid black;*/
  }
  
  
  /* Gestisce i colori per il menù delle categorie */
  
  .td_menu
  {
      color: #FFFFF0;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      background-color: #708090;
      font-size: 13px;
      width:70px;
  }
  .td_menu:hover 
  {
      color: white;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      font-weight: bold;
      background-color: #63B0EB;
      font-size: 17px;
      cursor: pointer;
      width:70px;
  }
  
  .active
  {
      color: white;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
      font-weight: bold;
      background-color: #003153;
      font-size: 17px;
      cursor: pointer;
      width:70px;
  }
  
  
  
  .testo
  {
      color: black;
      font-size:13px;
      font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  }
  
  #Bottreg:hover
  {
      cursor: pointer;
  }
  
  .style_table {
      -moz-border-radius: 20px; 
      -webkit-border-radius:20px; 
      border-radius: 20px; 
      width:700px;
  }
}

#sub{
  background-color: #00BFFF; 
  border: 2px solid #FFFFF0; 
  color:#FFFFF0;               
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  font-size:19px;
  padding: 0;                
  height: 40px;              
  width: 130px;               
  cursor: pointer;
  -moz-border-radius: 20px; 
  -webkit-border-radius:20px; 
  border-radius: 20px;  
}

#esci {
  background-color: white; 
  border: 2px solid black; 
  color:black;               
  font-family: Arial Rounded MT, Helvetica Rounded, Arial, sans-serif;
  font-size:15px;
  padding: 0;                
  height: 27px;              
  width: 70px;               
  cursor: pointer;
  -moz-border-radius: 20px; 
  -webkit-border-radius:20px; 
  border-radius: 20px;  
}